<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Vacuole</title>
  <link rel="stylesheet" media="screen" type="text/css" href="/vacuole.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/vacuole.js"></script>
</head>
<body>

  <h1>Vacuole</h1>
  <div class="results">
    <% @results["data"].each do |result| %>
      <div class="result">
        <table>
          <tr>
            <td class="bar <%= if !result[5].nil? && result[4] >0
              "fail"
            else
              "pass"
            end
            %>">
            <td class="gap">
            <td class"info">
              <p>Xid: <span id="request_id"><%= result[0] %></span> <span id="poll-button" href='#'>Update</span></p>
              <p>App Name:<a href="/app/<%=result[1]%>"> <%= result[1] %></a></p>
              <p>App Id:<a href="/app_id/<%=result[2]%>"> <%= result[2] %></a></p>
              <p>Last Modified: <%=Time.at(result[3]).to_s%>
              <div class="output">
                <div class="output-inner">
                  <pre><code><%= result[4]%></code></pre>
                </div>
              </div>
              <span id="syslogs" href='#'>Get Logs</span>
                <div class="output">
                  <div class="output-inner">
                    <pre><code id="code"></code></pre>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</body>
</html>
